@use 'mixin' as m;

.home-section6 {
  padding: 10vh 0;
  background: white;
  overflow: hidden;
  .center {
    width: min(95%,1200px);
    margin: 0 auto;
    .section-title{
      margin: 0 auto;
      margin-bottom: 40px;
      max-width: 1000px;
      text-align: center;
      color: m.$dark-color;
      b{
        margin: 0 auto;
        font-size: 4vw;
      }
      p{
        max-width: 450px;
      }
    }
    .carousel{
      .swiper-wrapper{
        z-index: auto;
        .swiper-slide{
          padding: 0 60px;
          img{
            width: 100%;
          }
          figcaption{
            color: m.$dark-color;
            h3{font-weight: 600; margin-bottom: 20px; font-size: 1.3em;}
            p{max-width: 400px; margin-bottom: 20px;}
          }
        }
      }
      button{
      }
      .indicator{
        text-align: center;
        span{
        }
      }
    }
  }
}

@media #{m.$max-lg} {
  .home-section6{
    .center{
      .section-title{
        max-width: 500px;
        b{font-size: 6vw;}
      }
    }
  }
}