@use 'mixin' as m;
.home-bg{
  z-index: 1;
  position: absolute;
  background: m.$blue-color;
  width: 100%;
  height: 100%;
  transition: filter 2s;
  #particles-js{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0; top: 0;
  }
  @media #{m.$max-lg} {
    filter: brightness(.5);
  }
  #particle-js{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  img{
    position: absolute;
    height: 100%;
    right: 0;
    object-fit: cover;
    @media #{m.$lg} {
      width: 60%;
    }
    @media #{m.$max-lg} {
      width: 100%;
    }
  }
}