@use 'mixin' as m;
.home-shortcut{
  padding: 20vh 0;
  background-image: url(../img/home/price-bg.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
  .center{
    width: min(95%, 1400px);
    margin: 0 auto;
    .section-title{
      color: #fff;
      margin-left: auto;
      text-align: right;
      b{margin-left: auto; font-size: 3vw;}
      p{max-width: 500px; margin-bottom: 20px;}
      a{
        display: inline-block;
        border: 1px solid #fff;
        padding: 10px 20px;
        transition: all .5s;
        &:hover{
          background: #fff;
          color: #000;
          font-weight: 700;
        }
      }
    }
  }
}

@media #{m.$max-lg} {
  .home-shortcut{
    .center{
      .section-title{
        b{font-size: 7vw;}
        p{max-width: 300px;}
      }
    }
  }
}