@use 'mixin' as m;

.home-section3{
  background: #fff;
  padding: 10vh 0;
  .center{
    color: m.$dark-color;
    width: min(95%, 1200px);
    margin: 0 auto;
    .section-title{
      margin-bottom: 40px;
      text-align: center;
      b{margin: 0 auto;}
    }
    .works-list{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      li{
        position: relative;
        margin-bottom: 40px;
        border: 5px solid #ddd;
        box-shadow: 0 0 10px rgba(#000, .4);
        overflow: hidden;
        transition: all .3s;
        &:hover{
            border: 5px solid m.$green-color;
            transition: all .3s;
          figure{
            transform: scale(1.2);
          }
        }
        figure{transition: all .3s;}
        @media #{m.$lg} {
          width: 32%;
        }
        @media #{m.$md} {
          width: 48%;
        }
        @media #{m.$sm} {
          width: 100%;
        }
        figure{
          img{
            width: 100%;
          }
        }
        a{
          @include m.flex-center;
          flex-direction: column;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          background: rgba(m.$dark-color, .5);
          color: #fff;
          top: -1000000000000000px;
          i{font-size: 2em; color: #fff;}
          h3{
            font-weight: 600;
            margin-top: 10px;
          }
        }
      }
    }
    .go-works-btn{
      display: block;
      width: 200px;
      padding: 10px 0;
      color: #fff;
      text-align: center;
      margin: 0 auto;
      background: m.$dark-color;
      transition: all .5s;
      &:hover{
        background: m.$green-color;
        color: #000;
        font-weight: 900;
      }
    }
  }
}