@use 'mixin' as m;

main {
  .portfolio-section {
    .portfolio-bg {
      position: sticky;
      height: 100vh;
      top: 0;
      background-color: m.$blue-color;
      background-image: url(../img/works/portfolio.png);
      background-repeat: repeat-x;
      background-position: 0 center;
      background-size: auto 40vh;

      #particles-js {
        width: 100%;
        height: 100%;
      }
    }

    .portfolio-list {
      position: relative;
      width: min(95%, 1400px);
      margin: 0 auto;
      margin-top: -100vh;
      padding: 30vh 0;

      li {
        position: relative;
        color: #fff;
        text-align: center;

        a {
          &:hover>figure {
            border: 10px solid m.$green-color;
            img{
              transform: scale(1.3);
            }
          }

          &:hover>h3 {
            color: m.$green-color;
            font-size: 2em;
            margin-top: 40px;
          }

          figure {
            position: relative;
            transition: all .5s;
            border: 10px solid #ddd;
            border-radius: 50%;
            overflow: hidden;
            width: 80%;
            margin: 0 auto;

            h3, p {
              transition: all .5s;
              position: absolute;
              z-index: 100;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              padding: 50px 0;
              opacity: 0;
            }

            h3{
              color: m.$green-color;
              font-size: 2em;
              font-weight: 900;
              margin-top: -20px;
            }

            p {
              max-width: 350px;
              margin: 0 auto;
              white-space: nowrap;
              overflow: hidden;
              font-weight: 700;
              position: absolute;
              z-index: 100;
              top: 50%;
              left: 50%;
              transform: translateX(-50%);

              b {
                display: inline-block;
                animation: rolling 5s linear infinite;

                @keyframes rolling {
                  0% {
                    transform: translateX(0);
                  }

                  100% {
                    transform: translateX(-100%);
                  }
                }
              }
            }

            &:hover {
              box-shadow: 0 0 10px #fff;
              background-color: #000;

              h3, p {
                opacity: 1;
              }

              img {
                opacity: 0.4;
              }
            }

            img {
              transition: all .5s;
              object-fit: cover;
              width: 100%;
            }
          }
        }

        &:not(:last-child) {
          margin-bottom: 15vh;
        }

        @media #{m.$lg} {
          width: 33.33%;

          &:nth-child(4n+1) {
            margin-left: auto;
          }

          &:nth-child(even) {
            margin-left: auto;
            margin-right: auto;
          }
        }

        @media #{m.$md} {
          width: 60%;

          &:nth-child(odd) {
            margin-left: auto;
          }
        }

        @media #{m.$sm} {
          width: 100%;
        }
      }
    }
  }

  .cursor {
    pointer-events: none;
    //마우스 무시
    position: fixed;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    left: 0;
    top: 0;
    text-align: center;
    line-height: 70px;
    background: rgba(m.$green-color, .7);

    i {
      color: #fff;
    }

    display: none;
    transition: transform .5s;
    transform: scale(0);

    &.active {
      transform: scale(1);
    }

    @media (hover:hover) {
      //데스크탑에서만 활성화
      display: block;
    }
  }
}